// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// - Dark Gray: hsl(0, 0%, 63%)
// - Black: hsl(0, 0%, 0%)
// - White: hsl(0, 0%, 100%)
// - Very Dark Gray: hsl(0, 0%, 27%)

// ## Typography

// ### Body Copy

// - Font size: 12px

// ### Font

// - Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
// - Weights: 500, 600, 700

$dark-gray: #a1a1a1;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

    .container{
        
        .main-content{
            display: flex;

            .left-content{
               display: flex;

               .left-background{
                    position: relative;
                    overflow: hidden;
                 

                    .slider{
                       transition: transform 0.3s ease;
                        display: flex;

                    }
               }

                header{
    
                    padding: 3rem 0 0 3rem;
                    position: absolute;
                    top: 0;
                    z-index: 99;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
    
                    ul{
                        display: flex;
                        align-items: center;
                        padding: 0;
                    }
    
                    li{
                        list-style: none;
                    }
    
                    a{
                        text-decoration: none;
                        color: $white;
                        padding: 0 1rem;

                    }
                }
            }

            .right-content{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: end;

                .right-content-container{
                    padding: 4rem 5rem 0 5rem;

                    .right-content-content{
                      
                        .header{
                            display: none;

                            &.active{
                                font-size: 2.7rem;
                                line-height: 3rem;
                                letter-spacing: -1px;
                                font-weight: 600;
                                width: 400px;
                                display: block;
                            }
                        }

                        .paragraph{
                            display: none;
                            &.active{
                                margin-top: 2rem;
                                color: $dark-gray;
                                display: block;
                            }
                        }

                        .header-para{
                            
                        }
                    }

                    .shop-link{
                        margin: 2rem 0 4rem 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        color: $black;
                        
                        a{
                            text-transform: uppercase;
                            text-decoration: none;
                            font-size: 1rem;
                            letter-spacing: 0.5rem;
                            color: $black;
                            transition: 300ms ease;

                           
                        }
    
                        img{
                            padding-left: 1rem;
                            transition: 300ms ease;
                        }

                        &:hover{
                            a{
                                color: $dark-gray;
                            }

                            img{
                                filter: invert(72%) sepia(0%) saturate(5250%) hue-rotate(156deg) brightness(88%) contrast(95%);
                            }
                        }
                        
                    }
                }

                .arrow-container{
                    display: flex;

                    img{
                        background-color: $black;
                        padding: 1rem 1.5rem;
                        cursor: pointer;
                        

                        &:hover{
                            opacity: 70%;
                            transition: 300ms ease;
                        }
                    }
                }
            }
        }
        
        .bottom-content{
            display: flex;

            .first-pic{
                background: url(/images/image-about-dark.jpg) no-repeat center;
                width: 100%;
            }

            .second-content{
                padding: 4rem 2rem 2rem 2rem;

                h2{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    letter-spacing: 0.3rem;
                    margin-bottom: 1rem;
                }

                p{
                    color: $dark-gray;
                }
            }

            .third-pic{
                width: 100%;
                background: url(/images/image-about-light.jpg) no-repeat center;
                
            }
        }

        .bottom-background{
            height: 1.9rem;
            background-color: $black;
        }
    }
}