
$dark-gray: #a1a1a1;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;

    .container{
        
        .main-content{
            display: flex;

            .left-content{
               display: flex;

               .left-background{
                    position: relative;
                    overflow: hidden;
                    max-width: 840px;
                 
                    .slider{
                        transition: transform 0.3s ease;
                        display: flex;

                        // img{
                        //     width: 400px;
                        //     height: 400px;
                        //     object-fit: cover;
                        // }
                    }
                    

                    .arrow-container-mobile{
                        display: none;
                    }
               }


                header{
    
                    padding: 3rem 0 0 3rem;
                    position: absolute;
                    top: 0;
                    z-index: 99;
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    nav{
                        .close-icon{
                            display: none;
                        }
                    }

                    .hamburger{
                        display: none;
                    }
    
                    ul{
                        display: flex;
                        align-items: center;
                        padding: 0;
                    }
    
                    li{
                        list-style: none;
                    }
    
                    a{
                        text-decoration: none;
                        color: $white;
                        padding: 0 1rem;

                    }
                }
            }

            .right-content{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: end;

                .right-content-container{
                    padding: 4rem 5rem 0 5rem;
                    
                    .right-content-content{
                        width: 400px;

                        .header{
                            display: none;

                            &.active{
                                font-size: 2.7rem;
                                line-height: 35px;
                                letter-spacing: -1px;
                                font-weight: 600;
                                display: block;
                            }
                        }

                        .paragraph{
                            display: none;
                            &.active{
                                margin-top: 2rem;
                                color: $dark-gray;
                                display: block;
                            }
                        }
                    }

                    .shop-link{
                        margin: 2rem 0 4rem 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        color: $black;
                        
                        a{
                            text-transform: uppercase;
                            text-decoration: none;
                            font-size: 1rem;
                            letter-spacing: 0.5rem;
                            color: $black;
                            transition: 300ms ease;

                           
                        }
    
                        img{
                            padding-left: 1rem;
                            transition: 300ms ease;
                        }

                        &:hover{
                            a{
                                color: $dark-gray;
                            }

                            img{
                                filter: invert(72%) sepia(0%) saturate(5250%) hue-rotate(156deg) brightness(88%) contrast(95%);
                            }
                        }
                        
                    }
                }

                .arrow-container{
                    display: flex;

                    img{
                        background-color: $black;
                        padding: 1rem 1.5rem;
                        cursor: pointer;
                        

                        &:hover{
                            opacity: 70%;
                            transition: 300ms ease;
                        }
                    }
                }
            }
        }
        
        .bottom-content{
            display: flex;

            .first-pic{
                background: url(/images/image-about-dark.jpg) no-repeat center;
                width: 100%;
                background-size: cover;
            }

            .second-content{
                padding: 4rem 2rem 2rem 2rem;

                h2{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    letter-spacing: 0.3rem;
                    margin-bottom: 1rem;
                    
                }

                p{
                    color: $dark-gray;
                }
            }

            .third-pic{
                width: 1800px;
                background: url(/images/image-about-light.jpg) no-repeat center;
                background-size: cover;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    body{
        .container{

            .main-content{
                .left-content{
                    flex-direction: column;

                    .slider{
                        .img{
                            margin: 0 !important;
                        }
                    }

                    header{
                        padding: 2rem 0 0 2rem;

                        
                    }

                    .arrow-container{
                        display: none;
                    }

                    .left-background{
                        max-width: none;
                        
                        .arrow-container-mobile{
                            display: flex;
                            position: relative;
                            margin-top: -3.5rem;
                            float: right;

                            img{
                                background-color: $black;
                                padding: 1rem 1.5rem;
                                cursor: pointer;

                                &:hover{
                                    opacity: 70%;
                                    transition: 300ms ease;
                                }
                            }
                        }

                    }
                }

                .right-content{
                    width: 100%;
                    justify-content: center;

                    .right-content-container{
                        padding: 3rem 2rem 4rem 2rem;
                        
                        .right-content-content{
                            width: 100%;
                            
                            // font-size: calc();
                            .header.active{
                                font-size: clamp(1.4rem, 9vw, 3rem);
                                line-height: 40px;
                            }

                            .paragraph.active{
                                margin: 1rem 0 0 0;
                                line-height: 25px;
                            }
                        }

                        
                        .shop-link{
                            margin: 2rem 0 0 0;
                        }
                    }

                    .arrow-container.desktop{
                        display: none;
                    }
                }
            }

            .bottom-content{
                flex-direction: column;

                .first-pic{
                    background: url(/images/image-about-dark.jpg) no-repeat center;
                    background-size: cover;
                    height: 300px;
                }
    
                .second-content{
                    padding: 4rem 2rem 2rem 2rem;
    
                    h2{
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        letter-spacing: 0.3rem;
                        margin-bottom: 1rem;
                    }
    
                }
    
                .third-pic{
                    height: 300px;
                    background: url(/images/image-about-light.jpg) no-repeat center;
                    background-size: cover;
                    width: 100%;
                }
            }
        }
    }
  
}

@media screen and (max-width: 767px) {
    
    body{
        .container{
            .main-content{
                .left-content{

        
                    header{
                        .hamburger{
                            display: block;
                            cursor: pointer;
                        }
            
                        .logo{
                            padding: 0;
                        }
            
                        nav{
                            display: none;
                           
                            &.active{
                                position: fixed;
                                background-color: white;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                top: 0;
                                left: 0;
                                right: 0;
                                padding: 1.5rem 0 2rem 2rem;
                                box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.6);
    
                                .close-icon{
                                    display: block;
                                    cursor: pointer;
                                }
    
                                ul{
                                    float: right;

                                    li{
                                        a{
                                            color: $black;
                                            font-size: 0.825rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                   
                }
            }
        
           
        }
    }
}
   
@media screen and (max-width: 500px) {

    body{
        .slider{
            img{
                height: 350px;
                object-fit: cover;
            }
        }
    }
    
}

@media screen and (max-width: 374px) {
    body{
        .container{
            .main-content{
                .left-content{

        
                    header{
                        padding: 2rem 0 1rem 2rem;
                        .hamburger{
                            display: block;
                            cursor: pointer;
                        }
            
                        .logo{
                            padding: 0;
                        }
            
                        nav{
                            display: none;
                           
                            &.active{
                                
                                padding: 1.5rem 0 1rem 2rem;
                                box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.6);
    
                                .close-icon{
                                    display: block;
                                    cursor: pointer;
                                }
    
                                ul{
                                    float: right;

                                    li{
                                        a{
                                            color: $black;
                                            font-size: 0.525rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                   
                }
            }
        
           
        }
    }
}